.latest-updates li {
border-bottom:1px solid #DADADA;
height:72px;
list-style:none outside none;
padding:0;
}

.cover-thumbs{
	float:left;
    margin-left:2px;
}
.cover-thumbs li{
	float:left;
	margin-right:1px;
}

.cover-thumbs-pic{
	width:63px;
	height:74px;
	float:left;
}

.latest-updates li{
list-style:none;
}
/******************************************************/
.pin_item {
	background:#fff;
	width:220px;
	float:left;
	/*border:1px solid #D3D2D2;*/
	margin:5px;
	-moz-box-shadow: 0px 0px 2px #d3d2d2;
	-webkit-box-shadow: 0px 0px 2px #d3d2d2;
	box-shadow: 0px 0px 2px #d3d2d2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#d3d2d2')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#d3d2d2');
}

.Mcenter {
	margin:0 auto;
}
.clearfix:after {clear: both; display: block; height: 0; content: " "; visibility: hidden;}

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.pin_item .action a.act_unlike {
    background: none repeat scroll 0 0 #E9E9E9;
    color: #B9B8B5;
}
.pin_item .action a.act_unlike span {
    background: none repeat scroll 0 0 transparent;
    padding: 0 0 0 5px;
}

.pin_item .pin_img a {
	display:block;
}
.pin_item .pin_img a img {
	display:block;
	margin:0 auto;
	max-width:100%;
}
.pin_item .pin_img a:hover {
		filter: alpha(opacity=90);
}
.pin_item .pin_img {
	padding:13px;
    /*added position relative on 17-05-2012 for placing video image in activity page*/
    position: relative;
}
.pin_item .comm_des {
	padding:0 10px;
}
.pin_item .comm_des p {
	padding:0 0 5px 0;
	color:#000;
	word-wrap: break-word;
}
.pin_item .comm_des p.comm_like span {
	margin:0 5px 0 0;
	font-size:11px;
}
.pin_item .comm_des .comm_like {
	color:#8c8c8c;
}
.pin_item .convo_blk a.convo_img {
	display:block;
	float:left;
	margin:0 10px 0 0;
}
.pin_item .convo_blk a.convo_img img {
	height:30px;
	width:30px;
}
.pin_item .convo_blk.attribution p a {
	font-weight:bold;
	color:#5f4f38;
}
.pin_item .convo_blk.comments p a {
	font-weight:bold;
	color:#333;
	  /*padding: 10px;*/
}
.pin_item .convo_blk.comments {
	color:#717070;
	border-top:1px solid #d3d2d2;
	position:relative;
	word-wrap:break-word;
    margin: 0;
}
.pin_item .convo_blk.comments .del_comm {
	display:none;
	position:absolute;
	right:5px;
	font-weight:bold;
	top:5px;
	font-size:11px;
}
.pin_item .convo_blk.comments:hover .del_comm {
	display:block;
	text-decoration:none;
}
.pin_item .convo_blk.attribution {
	background:#F0F0F0;
}
.pin_item .convo_blk {
	color:#5f4f38;
	background:#f4f4f4;
	padding:10px;
	overflow:hidden;
}
.pin_item .all_comments {
	background:#f4f4f4;
}
.pin_item .all_comments a {
	padding:10px;
	margin:0 0 0 2px;
	display:block;
	text-align:center;
	color:#717070;
	border-top:1px solid #d3d2d2;
}
.pin_item .convo_blk.enter_comm {
	border-top:1px solid #d3d2d2;
}
.pin_item .convo_blk.enter_comm p {
	display:block;
	margin:5px 0 0 0;
}
.pin_item .convo_blk.enter_comm textarea {
	resize: none;
	height:28px;
	width:155px;
	margin:0px;
}
.pin_item .convo_blk p {
	height:30px;
	vertical-align:middle;
	display:table-cell;
}
#Pin_Pinners_Blk .pin_action_butt {
	padding:10px 38px;
	overflow:hidden;
}
#Pin_Pinners_Blk .pin_action_butt ul li {
	float:left;
	margin:0 10px 0 0;
}
#Pin_Pinners_Blk .pin_action_butt em {
	height:30px;
	vertical-align:middle;
	display:inline-block;
	margin:0 4px 0 0;
}
#Pin_Pinners_Blk .pin_action_butt .pin_source a {
	color:#696a6a;
}
#Pin_Pinners_Blk .pin_action_butt .pin_source a {
	color:#000;
}
.pin_item .action a:hover {
	text-decoration:none;
}
.pin_item .action a.act_uncomment {
	background:#E9E9E9;
	color:#B9B8B5;
}
.pin_item .action a {
	background:url(../images/full/like_rp_bg.png) repeat-x center top;
	height:23px;
	line-height:23px;
	border:1px solid #b9b8b5;
	display:inline-block;
	vertical-align:text-bottom;
	padding:0 5px 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.pin_item:hover .action {
	display:block;
}
.pin_item .action {
	position:absolute;
	top:6px;
	left:2px;
	display:none;
	z-index:3;
}
.pin_item .action a:hover {
	background-position:center bottom;
}
.pin_item .action a span {
	background:url(../images/full/like_rp_icons.png) no-repeat 0px 0px;
	display:inline-block;
	line-height:20px;
	padding:0 0 0 22px;
}
.pin_item .action a.act_like:hover span {
	background-position:4px -115px;
}
.pin_item .action a.act_like span {
	background-position:4px -143px;
}
.pin_item .action a.act_repin span {
	background-position:3px -85px;
}
.pin_item .action a.act_repin:hover span {
	background-position:3px -57px;
}
.pin_item .action a.act_comment span {
	background-position:4px -32px;
}
.pin_item .action a.act_comment:hover span {
	background-position:4px -4px;
}
.pin_item .action a.act_uncomment span {
	padding:0 0 0 5px;
	background:none;
}
.pin_item .action a.act_unlike span {
	/*background-position:4px -63px;*/
	padding:0 0 0 5px;
	background:none;
}
.pin_item .action a.act_unlike {
	background:#E9E9E9;
	color:#B9B8B5;
}
#Zomm_Preivew_Pin .action a {
	background:url(../images/full/like_rp_bg.png) repeat-x center top;
	height:23px;
	line-height:23px;
	border:1px solid #b9b8b5;
	display:inline-block;
	padding:0 5px 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin:0 10px 0 0;
}
#Zomm_Preivew_Pin:hover .action {
	display:block;
}
#Zomm_Preivew_Pin .action {
	position:absolute;
	top:98px;
	left:25px;
	display:none;
	z-index:3;
}
#Zomm_Preivew_Pin .action a:hover {
	background-position:center bottom;
}
#Zomm_Preivew_Pin .action a span {
	background:url(../images/full/like_rp_icons.png) no-repeat 0px 0px;
	display:inline-block;
	line-height:20px;
	padding:0 0 0 22px;
}
#Zomm_Preivew_Pin .action a.act_unlike{
		background:#E9E9E9;
	color:#B9B8B5;
}
#Zomm_Preivew_Pin .action a.act_unlike span {
	padding:0 0 0 5px;
	background:none;
}
#Zomm_Preivew_Pin .action a.act_like:hover span {
	background-position:4px -115px;
}
#Zomm_Preivew_Pin .action a.act_like span {
	background-position:4px -143px;
}
#Zomm_Preivew_Pin .action a.act_repin span {
	background-position:3px -85px;
}
#Zomm_Preivew_Pin .action a.act_repin:hover span {
	background-position:3px -57px;
}
#Zomm_Preivew_Pin .action a.act_comment span {
	background-position:4px -32px;
}
#Zomm_Preivew_Pin .action a.act_comment:hover span {
	background-position:4px -4px;
}
#Zomm_Preivew_Pin .action a.act_uncomment span {
	padding:0 0 0 5px;
	background:none;
}
.pin_item .action a.act_unlike {
    background: none repeat scroll 0 0 #E9E9E9;
    color: #B9B8B5;
}
.pin_item .action a.act_unlike span {
    background: none repeat scroll 0 0 transparent;
    padding: 0 0 0 5px;
}
#Zomm_Preivew_Pin .action a.act_unlike {
    background: none repeat scroll 0 0 #E9E9E9;
    color: #B9B8B5;
}
#Zomm_Preivew_Pin .action a.act_unlike span {
    background: none repeat scroll 0 0 transparent;
    padding: 0 0 0 5px;
}
#Zomm_Preivew_Pin .comments .convo_img {
	float:left;
	margin:0 10px 0 0;
	height:50px;
	width:50px;
	background:#F1F1F1;
}
#Zomm_Preivew_Pin .comments .convo_img a {
	display:block;
}
/*css from style*/
.pin.activity .actions { top: auto; }
.pin .actions {display: none; position: absolute; z-index: 3; top: 6px; right: 6px; left: 6px;}
.pin .actions div {position: absolute;}
.pin:hover .actions {display: block;}
.actions .WhiteButton.Button11 {position: relative; z-index: 1; padding: 5px 8px; border: 2px solid rgba(140,126,126,0.5); border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: inset 0 1px rgba(255,255,255,0.35); -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35);}
.actions .WhiteButton.Button11 span {border-width: 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.actions .WhiteButton.Button11:hover span {box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 1px 2px rgba(35,24,24,0.75); -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 1px 2px rgba(35,24,24,0.75); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 1px 2px rgba(35,24,24,0.75);}
.actions .WhiteButton.Button11:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(232,230,230,0.5); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(232,230,230,0.5);}

.actions .WhiteButton.Button11 em {position: relative; top: 1px; left: -2px; display: inline-block; width: 10px; height: 10px; background-image: url(../images/ActionIcons10.png);}
.actions .WhiteButton.Button11.disabled span {background: #f2f0f0; opacity: 1; filter: none;}
.actions .WhiteButton.Button11.disabled:hover span {box-shadow: inset 0 1px rgba(255,255,255,0.35); -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35);}
.actions .WhiteButton.Button11.disabled:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25);}

.actions .repin_link em {background-position: 0 0; width: 11px !important;}
.actions .repin_link:hover em {background-position: 0 -10px;}
.actions .repin_link:active em {background-position: 0 -20px;}
.actions .likebutton em {background-position: -11px 0;}
.actions .likebutton:hover em {background-position: -11px -10px;}
.actions .likebutton:active em {background-position: -11px -20px;}
.actions .comment em {background-position: -21px 0;}
.actions .comment:hover em {background-position: -21px -10px;}
.actions .comment:active em {background-position: -21px -20px;}
.actions .comment.disabled em {background-position: -21px -30px;}

#profile #ContextBar .action { margin: 1px auto; width: 130px; position: relative; text-align: center; }
#profile #ContextBar .action .Tab { margin: 10px -1px 0; height: 24px; padding: 0 8px; line-height: 24px; float: left; }
#profile #ContextBar .action .Tab span { display: block; }
#profile #ContextBar .action .Tab.Left span { border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; }
#profile #ContextBar .action #RearrangeButton { padding: 0 5px; }
#profile #ContextBar .action #RearrangeButton strong { background: url(../images/RearrangeIcon.png) no-repeat center; display: block; height: 24px; width: 25px; }
#profile #ContextBar .action #RearrangeButton.RedButton strong { background-image: url(../images/Rearrange-Confirm.png) }
#profile #ContextBar .action #RearrangeButton span { border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; }
#profile #ContextBar .action #RearrangeCancel { position: absolute; background: url(../images/Rearrange-Cancel.png) no-repeat center; height: 24px; width: 25px; right: -15px; top: 12px; text-indent:-999px; overflow: hidden; display: none; }